<h1>Welcome</h1>

<% if logged_in? %>
    <h1>You're logged in. Welcome <%= current_user.username %></h1>
    <%= link_to 'Logout', '/logout', method: :get %>
<% else %>
    <%= button_to 'Login', '/login', method: :get %>
    <%= button_to 'Sign Up', '/users/new', method: :get %>
<% end %>
